<a href="https://colab.research.google.com/github/mawonuga121/ohtobeascholar/blob/main/Awonuga_DSC4900.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib as mpl

In [11]:
ready_grad= pd.read_csv('https://raw.githubusercontent.com/mawonuga121/ohtobeascholar/main/newtnreadygraduate.csv')
ready_grad

      year      system_name  ... n_ready_grad pct_ready_grad
0     2018  Davidson County  ...           13             50
1     2018  Davidson County  ...            *              *
2     2018  Davidson County  ...            *              *
3     2018  Davidson County  ...            *              *
4     2018  Davidson County  ...            *              *
...    ...              ...  ...          ...            ...
1593  2021  Davidson County  ...           30           32.3
1594  2021  Davidson County  ...           26           30.6
1595  2021  Davidson County  ...            5           26.3
1596  2021  Davidson County  ...           30           29.7
1597  2021  Davidson County  ...            *              *

[1598 rows x 7 columns]