<a href="https://colab.research.google.com/github/mawonuga121/ohtobeascholar/blob/main/Awonuga_DSC4900.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib as mpl

In [2]:
#always compare all students and historically excluded pops

In [3]:
ready_grad= pd.read_csv('https://raw.githubusercontent.com/mawonuga121/ohtobeascholar/main/newtnreadygraduate.csv')
ready_grad

,year,system_name,school_name,subgroup,n_count,n_ready_grad,pct_ready_grad
0,2018,Davidson County,MNPS Virtual School,All Students,26,13,50
1,2018,Davidson County,MNPS Virtual School,Asian,1,*,*
2,2018,Davidson County,MNPS Virtual School,Black or African American,2,*,*
3,2018,Davidson County,MNPS Virtual School,Black/Hispanic/Native American,4,*,*
4,2018,Davidson County,MNPS Virtual School,Economically Disadvantaged,4,*,*
...,...,...,...,...,...,...,...
1593,2021,Davidson County,RePublic High School,Non-English Learners,93,30,32.3
1594,2021,Davidson County,RePublic High School,Non-Students with Disabilities,85,26,30.6
1595,2021,Davidson County,RePublic High School,Students with Disabilities,19,5,26.3
1596,2021,Davidson County,RePublic High School,Super Subgroup,101,30,29.7
1597,2021,Davidson County,RePublic High School,White,6,*,*

In [4]:
act_score=pd.read_csv('https://raw.githubusercontent.com/mawonuga121/ohtobeascholar/main/act_scores.csv')
act_score

,year,District Name,School Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
0,2018.0,Davidson County,MNPS Virtual School,All Students,12.0,86,19.6,18.6,22,20.1,20.2,7,58.3,5,41.7
1,2018.0,Davidson County,MNPS Virtual School,Black/Hispanic/Native American,3.0,*,*,*,*,*,*,*,*,*,*
2,2018.0,Davidson County,MNPS Virtual School,Economically Disadvantaged,4.0,*,*,*,*,*,*,*,*,*,*
3,2018.0,Davidson County,Antioch High School,All Students,351.0,97,16.1,16.7,17.4,17,17,59,16.8,242,68.9
4,2018.0,Davidson County,Antioch High School,Black/Hispanic/Native American,236.0,96,15.6,16.2,16.8,16.5,16.4,28,11.9,175,74.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,2021.0,Davidson County,RePublic High School,All Students,146.0,99,15.2,16.1,17.2,17.1,16.6,25,17.1,105,71.9
564,2021.0,Davidson County,RePublic High School,Black/Hispanic/Native American,131.0,99,14.5,15.8,16.7,16.7,16.1,19,14.5,97,74
565,2021.0,Davidson County,RePublic High School,Economically Disadvantaged,84.0,99,14.2,15.8,16.5,16.6,15.9,11,13.1,63,75
566,2021.0,Davidson County,RePublic High School,English Learners,19.0,100,10.6,14.6,13.4,13.6,13.2,**,**,**,**
567,2021.0,Davidson County,RePublic High School,Students with Disabilities,28.0,97,11.2,14.3,14.3,14.8,13.7,**,**,**,**

In [5]:
chronic_absent=pd.read_csv('https://raw.githubusercontent.com/mawonuga121/ohtobeascholar/main/chronic_absenteeism.csv')
chronic_absent

,year,school_system,school_name,student_group,n_students,n_chronically_absent,pct_chronically_absent
0,2018,Davidson County,MNPS Virtual School,All Students,92,18,19.6
1,2018,Davidson County,MNPS Virtual School,American Indian or Alaska Native,1,*,*
2,2018,Davidson County,MNPS Virtual School,Asian,3,*,*
3,2018,Davidson County,MNPS Virtual School,Black or African American,18,4,22.2
4,2018,Davidson County,MNPS Virtual School,Black/Hispanic/Native American,24,5,20.8
...,...,...,...,...,...,...,...
866,2021,Davidson County,The Academy at Hickory Hollow,Economically Disadvantaged,9,*,*
867,2021,Davidson County,The Academy at Hickory Hollow,English Learners with Transitional 1-4,6,*,*
868,2021,Davidson County,The Academy at Hickory Hollow,Hispanic,9,*,*
869,2021,Davidson County,The Academy at Hickory Hollow,Students with Disabilities,1,*,*
870,2021,Davidson County,The Academy at Hickory Hollow,White,5,*,*

In [6]:
ready_grad.head(100)

,year,system_name,school_name,subgroup,n_count,n_ready_grad,pct_ready_grad
0,2018,Davidson County,MNPS Virtual School,All Students,26,13,50
1,2018,Davidson County,MNPS Virtual School,Asian,1,*,*
2,2018,Davidson County,MNPS Virtual School,Black or African American,2,*,*
3,2018,Davidson County,MNPS Virtual School,Black/Hispanic/Native American,4,*,*
4,2018,Davidson County,MNPS Virtual School,Economically Disadvantaged,4,*,*
...,...,...,...,...,...,...,...
95,2018,Davidson County,Hillsboro High,Non-Economically Disadvantaged,168,96,57.1
96,2018,Davidson County,Hillsboro High,Non-English Learners,261,116,44.4
97,2018,Davidson County,Hillsboro High,Non-Students with Disabilities,235,111,47.2
98,2018,Davidson County,Hillsboro High,Students with Disabilities,33,6,18.2
99,2018,Davidson County,Hillsboro High,Super Subgroup,170,47,27.6

In [7]:
new_readygrad=ready_grad.loc[ready_grad['school_name'].isin(["KIPP Nashville Collegiate High School", "Maplewood High", "RePublic High School", "Hunters Lane High", "STEM Prep High School", "Glencliff High", "Knowledge Academy", "Middle College High", "Cane Ridge High", "Early College High School"])]

In [8]:
new_readygrad

,year,system_name,school_name,subgroup,n_count,n_ready_grad,pct_ready_grad
127,2018,Davidson County,Hunters Lane High,All Students,456,80,17.5
128,2018,Davidson County,Hunters Lane High,American Indian or Alaska Native,1,*,*
129,2018,Davidson County,Hunters Lane High,Asian,4,*,*
130,2018,Davidson County,Hunters Lane High,Black or African American,234,37,15.8
131,2018,Davidson County,Hunters Lane High,Black/Hispanic/Native American,372,61,16.4
...,...,...,...,...,...,...,...
1593,2021,Davidson County,RePublic High School,Non-English Learners,93,30,32.3
1594,2021,Davidson County,RePublic High School,Non-Students with Disabilities,85,26,30.6
1595,2021,Davidson County,RePublic High School,Students with Disabilities,19,5,26.3
1596,2021,Davidson County,RePublic High School,Super Subgroup,101,30,29.7
1597,2021,Davidson County,RePublic High School,White,6,*,*

In [9]:
new_actscore=act_score.loc[act_score['School Name'].isin(["KIPP Nashville Collegiate High School", "Maplewood High", "RePublic High School", "Hunters Lane High", "STEM Prep High School", "Glencliff High", "Knowledge Academy", "Cane Ridge High", "Early College High School", "Middle College High"])]

In [10]:
new_actscore

,year,District Name,School Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
41,2018.0,Davidson County,Hunters Lane High,All Students,324.0,100,15,16.1,16.2,16.2,16,33,10.2,271,83.6
42,2018.0,Davidson County,Hunters Lane High,Black/Hispanic/Native American,264.0,100,14.5,15.9,15.8,15.9,15.7,19,7.2,232,87.9
43,2018.0,Davidson County,Hunters Lane High,Economically Disadvantaged,217.0,100,14.4,15.9,15.8,15.8,15.6,17,7.8,187,86.2
44,2018.0,Davidson County,Hunters Lane High,English Learners,57.0,98,10.9,15,12.8,14.4,13.5,**,**,**,**
45,2018.0,Davidson County,Hunters Lane High,Students with Disabilities,31.0,100,11.8,14.4,13.3,14.4,13.6,**,**,**,**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,2021.0,Davidson County,RePublic High School,All Students,146.0,99,15.2,16.1,17.2,17.1,16.6,25,17.1,105,71.9
564,2021.0,Davidson County,RePublic High School,Black/Hispanic/Native American,131.0,99,14.5,15.8,16.7,16.7,16.1,19,14.5,97,74
565,2021.0,Davidson County,RePublic High School,Economically Disadvantaged,84.0,99,14.2,15.8,16.5,16.6,15.9,11,13.1,63,75
566,2021.0,Davidson County,RePublic High School,English Learners,19.0,100,10.6,14.6,13.4,13.6,13.2,**,**,**,**
567,2021.0,Davidson County,RePublic High School,Students with Disabilities,28.0,97,11.2,14.3,14.3,14.8,13.7,**,**,**,**

In [11]:
new_chronicabsent=chronic_absent.loc[chronic_absent['school_name'].isin(["KIPP Nashville Collegiate High School", "Maplewood High", "RePublic High School", "Hunters Lane High", "STEM Prep High School", "Glencliff High", "Knowledge Academy", "Cane Ridge High", "Middle College High", "Early College High School"])]

In [12]:
new_chronicabsent

,year,school_system,school_name,student_group,n_students,n_chronically_absent,pct_chronically_absent
91,2018,Davidson County,Hunters Lane High,All Students,1293,414,32
92,2018,Davidson County,Hunters Lane High,Asian,13,**,**
93,2018,Davidson County,Hunters Lane High,Black or African American,538,184,34.2
94,2018,Davidson County,Hunters Lane High,Black/Hispanic/Native American,1015,304,30
95,2018,Davidson County,Hunters Lane High,Economically Disadvantaged,479,186,38.8
...,...,...,...,...,...,...,...
842,2021,Davidson County,RePublic High School,Economically Disadvantaged,206,153,74.3
843,2021,Davidson County,RePublic High School,English Learners with Transitional 1-4,128,79,61.7
844,2021,Davidson County,RePublic High School,Hispanic,289,150,51.9
845,2021,Davidson County,RePublic High School,Students with Disabilities,108,70,64.8
846,2021,Davidson County,RePublic High School,White,44,28,63.6

In [15]:
act_benchmarks= {'Test Name': ['English', 'Math', 'Reading', 'Science'],
        'Score': [18, 22, 22, 23]}
  
act_benchmarks_df = pd.DataFrame(act_benchmarks)
  
act_benchmarks_df

  Test Name  Score
0   English     18
1      Math     22
2   Reading     22
3   Science     23

In [21]:
epsos= {'School Name': ["KIPP Nashville Collegiate High School", "Maplewood High", "RePublic High School", "Hunters Lane High", "STEM Prep High School", "Glencliff High", "Knowledge Academy", "Cane Ridge High", "Middle/Early College High School"],
        'Total EPSOs': [12, 21, 10, 27, 0, 27, 0, 24, 7 ]}
epsos_df= pd.DataFrame(epsos)
epsos_df

                             School Name  Total EPSOs
0  KIPP Nashville Collegiate High School           12
1                         Maplewood High           21
2                   RePublic High School           10
3                      Hunters Lane High           27
4                  STEM Prep High School            0
5                         Glencliff High           27
6                      Knowledge Academy            0
7                        Cane Ridge High           24
8       Middle/Early College High School            7

In [22]:
fig= px.bar(epsos, x="School Name", y="Total EPSOs")
fig.show()